body {
    height: 100%;
    margin: 0;
}

#root {
    font-family: "Istok Web", sans-serif;
    font-size: 1.25rem;

    display: grid;

    grid-template-rows: 15vh 70vh 15vh;
    grid-template-columns: 50% 50%;
}
